{
	admin off
}

{$API_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
	}

	reverse_proxy api:8000

	log {
		output stdout
		format console
	}
}

